# Ignore folders.
.storage
.cloud
.vscode
.google.token
.google_maps_location_sharing.cookies.dima_hassio_gmail_com
.sonoff.json
deps
faces
icloud
tts
glances
#esphome
tensorflow
node-red
themes
www
node-red
panel

www/cam_captures
www/*.jpg
www/*.png

*pycache*

ya_weather_home.sh
ya_weather_work.sh

/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
/secrets.yaml

!esphome/common/

*.conf
*.db-journal

zigbee.db

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
life360.conf
aircast.xml
secrets.yaml
home-assistant_v2.db
home-assistant.log
known_devices.yaml
ip_bans.yaml
.uuid
.*
!.gitignore