# ############################################################################
# Security 
# ############################################################################
  - binary_sensor: 
      # - name: Motion Internal
      #   unique_id: motion_internal
      #   state: "{{ is_state('group.motioninternal','on') }}"
      #   device_class: motion

      # - name: Motion
      #   unique_id: motion
      #   state: "{{ is_state('group.motion','on') }}"
      #   device_class: motion

#       - name: Motion Unifi
#         state: "{{ is_state('group.motionunifi','on') }}"
#         device_class: motion

      # - name: Doors
      #   unique_id: doors
      #   state: "{{ is_state('group.doors','on') }}"
      #   device_class: door

      # - name: Windows
      #   unique_id: windows
      #   state: "{{ is_state('group.windows','on') }}"
      #   device_class: window

      # - name: Motion 1h
      #   unique_id: motion_1h
      #   state: "{{ is_state('group.motioninternal', 'on') }}"
      #   delay_off: "01:00:00"
      #   device_class: motion
  
      - name: Someone Home 1h
        unique_id: someone_home_1h
        state: "{{ is_state('binary_sensor.motion_1h', 'on') or is_state('group.persons', 'home') }}"
        delay_off: "01:00:00"
        device_class: occupancy

      - name: Family Home
        unique_id: family_home
        device_class: presence
        state: >
            {{ (states('zone.home')|int(0) - iif('person.sandra2' in state_attr('zone.home','persons'),1,0)|int) > 0 or 
              (states('zone.home_extended')|int(0) -iif('person.sandra2' in state_attr('zone.home','persons'),1,0)|int) >0 }}

        # {{ states('zone.home')|int(0) > 0 or
        #      states('zone.home_extended')|int(0) > 0 }}
             
        #or is_state('input_boolean.guest_mode','on') }}

      # - name: Family Home Extended
      #   device_class: presence
      #   state: >
      #     {{ states('zone.home_extended')|int(0) > 0 or 
      #       is_state('input_boolean.guest_mode','on')}}

      # - name: Vacation Mode
      #   unique_id: vacation_mode
      #   state: "{{is_state('switch.system_security_mode','off')}}"
      #   delay_on:
      #     hours: 24
      #   icon: mdi:palm-tree
          
      - name: Bottom Lock
        unique_id: bottom_lock
        device_class: lock
        state: "{{is_state('binary_sensor.0x00158d0002a1a4b2_contact','on')}}"
        delay_off:
          seconds: 2
        delay_on:
          seconds: 2
        icon: >
          {% if is_state('binary_sensor.bottom_lock','on') %}
          mdi:lock-open-variant
          {% else %}
          mdi:lock
          {% endif %}

      - name: Top Lock
        unique_id: top_lock
        device_class: lock
        state: "{{is_state('binary_sensor.0x00158d0002b7c2c8_contact','on')}}"
        delay_off:
          seconds: 2
        delay_on:
          seconds: 2
        icon: >
          {% if is_state('binary_sensor.top_lock','on') %}
          mdi:lock-open-variant-outline
          {% else %}
          mdi:lock-outline
          {% endif %}
          
  - trigger:
      - trigger: state
        entity_id:
          - binary_sensor.0x00158d0001ae9f61_motion
          - binary_sensor.0x00158d0001aea602_motion
          - binary_sensor.0x00158d0001d5995e_motion
          - binary_sensor.0x00158d0001e05856_motion
          - binary_sensor.0x00158d0001e53cda_motion
          - binary_sensor.0x00158d0001e54280_motion
          - binary_sensor.0x00158d000224f89f_motion
          - binary_sensor.0x00158d000236bb94_motion
          - binary_sensor.0x00158d000236bc6d_motion
          - binary_sensor.0x00158d0002b43ad4_motion
          - binary_sensor.0x00158d0002b4729d_motion
          - binary_sensor.0x00158d0002b482e9_motion
          - binary_sensor.0x00158d0002b48381_motion
          - binary_sensor.0x00158d0003140824_motion
          - binary_sensor.0x00158d0003f27ce2_motion
          - binary_sensor.0x00158d00044c7971_motion
          - binary_sensor.0x00158d00053faae1_motion
          - binary_sensor.50ec50cd0062_motion
          - binary_sensor.54ef44c65722_motion
          - binary_sensor.582d3460dc57_motion
          - binary_sensor.582d34609600_motion
          - binary_sensor.ec4d3ec2e898_motion
        to: 'on'
    binary_sensor:
      - name: Motion
        unique_id: motion
        state: "{{ true }}"
        device_class: motion
        auto_off:
          seconds: 2
          
  - trigger:
      - trigger: state
        entity_id:
          - binary_sensor.0x00158d00027129ae_contact
          - binary_sensor.0x00158d0001ef2ffc_contact
          - binary_sensor.0x00158d0002a14c5e_contact
          - binary_sensor.0x00158d0002529b9c_contact
          - binary_sensor.0x00158d00025315e9_contact
          - binary_sensor.0x00158d0001e5d6be_contact
          - binary_sensor.582d344031f7_contact
          - binary_sensor.0x00158d0002531749_contact
        to: 'on'
    binary_sensor:
      - name: Doors
        unique_id: doors
        state: "{{ true }}"
        device_class: door
        
  - trigger:
      - trigger: state
        entity_id:
          - binary_sensor.0x00158d00025371f6_contact
          - binary_sensor.0x00158d000200ad58_contact
          - binary_sensor.0x00158d00022ccffe_contact
          - binary_sensor.0x00158d00025370d1_contact
        to: 'on'
    binary_sensor:
      - name: Windows
        unique_id: windows
        state: "{{ true }}"
        device_class: window
        

  - trigger:
      - trigger: state
        entity_id:
          - binary_sensor.0x00158d0001ae9f61_motion
          - binary_sensor.0x00158d0001aea602_motion
          - binary_sensor.0x00158d0001d5995e_motion
          - binary_sensor.0x00158d0001e05856_motion
          - binary_sensor.0x00158d0001e53cda_motion
          - binary_sensor.0x00158d0001e54280_motion
          - binary_sensor.0x00158d000224f89f_motion
          - binary_sensor.0x00158d000236bb94_motion
          - binary_sensor.0x00158d000236bc6d_motion
          - binary_sensor.0x00158d0002b43ad4_motion
          - binary_sensor.0x00158d0002b4729d_motion
          - binary_sensor.0x00158d0002b482e9_motion
          - binary_sensor.0x00158d0002b48381_motion
          - binary_sensor.0x00158d0003140824_motion
          - binary_sensor.0x00158d0003f27ce2_motion
          - binary_sensor.0x00158d00044c7971_motion
          - binary_sensor.0x00158d00053faae1_motion
          - binary_sensor.50ec50cd0062_motion
          - binary_sensor.54ef44c65722_motion
          - binary_sensor.582d3460dc57_motion
          - binary_sensor.582d34609600_motion
          - binary_sensor.ec4d3ec2e898_motion
          - binary_sensor.g4_instant_motion
          - binary_sensor.g3_instant_motion
          #- binary_sensor.fully_kiosk_z801_motion
          - binary_sensor.g3_flex_entrance_motion
          - binary_sensor.g3_flex_hall_motion
        to: 'on'
    binary_sensor:
      - name: Motion 1h
        unique_id: motion_1h
        state: "{{ true }}"
        device_class: motion
        delay_off:
          hours: 1