  - trigger:
      - trigger: time_pattern
        seconds: "/15"  
      - trigger: homeassistant
        event: start
      - trigger: event
        event_type: event_template_reloaded
      - trigger: event
        event_type: automation_reloaded
    sensor:
      - name: People Home
        unique_id: people_home
        state: >-
          {{ expand('group.persons') | selectattr('state', 'in', ['home', 'on','Home Extended'] ) | list | count }}
        icon: >-
          {%- set cnt = expand('group.persons') | selectattr('state', 'in', ['home', 'on','Home Extended'] ) | list | count %}
          {%- if cnt <= 10 %}
            mdi:numeric-{{cnt}}-box
          {%- endif %}
        unit_of_measurement: ea
        attributes:
          names: "{{expand('group.persons') | selectattr('state', 'in', ['home','Home Extended']) | map(attribute='name') | list | join(', ') }}"

      - name: Home Status
        unique_id: home_status
        state: >
          {% if is_state('binary_sensor.family_home','on') %}
          Occupied
          {% else %}
          Empty
          {% endif %}
        icon: >
          {% if is_state('binary_sensor.family_home','on') %}
          mdi:home-account
          {% else %}
          mdi:home-outline
          {% endif %}

#{{ expand('group.persons') | selectattr('state', 'in', ['home', 'on'] ) | list | count }}

      # - name: Last Motion
      #   unique_id: last_motion
      #   state: " {{iif(expand('group.motioninternal')|count > 0, (expand('group.motioninternal')|sort(attribute='last_changed'))[-1].name, '' , '')}} "

      # - name: Last Motion Time
      #   state: '{{ as_timestamp(states.group.motioninternal.last_changed) | timestamp_custom("%a %d %b %H:%M",true,0) }}'

      # - name: Security Devices Last Triggered
      #   unique_id: security_devices_last_triggered
      #   state: " {{iif(expand('group.securitydevices')|count > 0, (expand('group.securitydevices')|sort(attribute='last_changed'))[-1].name, '' , '')}} "

      # - name: Security Devices Last Triggered Time
      #   state: '{{ as_timestamp(states.group.securitydevices.last_changed) | timestamp_custom("%a %d %b %H:%M",true,0) }}'

      # - name: Door Last Change
      #   unique_id: door_last_change
      #   state: " {{iif(expand('group.doors')|count > 0, (expand('group.doors')|sort(attribute='last_changed'))[-1].name, '' , '')}} "
      # - name: Door Last Change Time
      #   state: '{{ (as_timestamp(now())-as_timestamp(states.sensor.door_last_change.last_changed))|timestamp_custom("%H:%M:%S",true,0) }}'

      # - name: Window Last Change
      #   unique_id: windows_last_change
      #   state: " {{iif(expand('group.windows')|count > 0, (expand('group.windows')|sort(attribute='last_changed'))[-1].name, '' , '')}} "

      # - name: Window Last Chnage Time
      #   state: '{{ (as_timestamp(now())-as_timestamp(states.sensor.window_last_change.last_changed))|timestamp_custom("%H:%M:%S",true,0) }}'

  - trigger:
      - trigger: state
        entity_id:
          - binary_sensor.0x00158d0001ae9f61_motion
          - binary_sensor.0x00158d0001aea602_motion
          - binary_sensor.0x00158d0001d5995e_motion
          - binary_sensor.0x00158d0001e05856_motion
          - binary_sensor.0x00158d0001e53cda_motion
          - binary_sensor.0x00158d0001e54280_motion
          - binary_sensor.0x00158d000224f89f_motion
          - binary_sensor.0x00158d000236bb94_motion
          - binary_sensor.0x00158d000236bc6d_motion
          - binary_sensor.0x00158d0002b43ad4_motion
          - binary_sensor.0x00158d0002b4729d_motion
          - binary_sensor.0x00158d0002b482e9_motion
          - binary_sensor.0x00158d0002b48381_motion
          - binary_sensor.0x00158d0003140824_motion
          - binary_sensor.0x00158d0003f27ce2_motion
          - binary_sensor.0x00158d00044c7971_motion
          - binary_sensor.0x00158d00053faae1_motion
          - binary_sensor.50ec50cd0062_motion
          - binary_sensor.54ef44c65722_motion
          - binary_sensor.582d3460dc57_motion
          - binary_sensor.582d34609600_motion
          - binary_sensor.ec4d3ec2e898_motion
          #- binary_sensor.fully_kiosk_z801_motion
          - binary_sensor.g3_flex_entrance_motion
          - binary_sensor.g3_flex_hall_motion
        to: 'on'
    sensor:
      - name: Last Motion
        unique_id: last_motion
        state: "{{ trigger.to_state.attributes.friendly_name }}"

  # - trigger:
  #     - trigger: state
  #       entity_id:
  #         - binary_sensor.0x00158d0001ae9f61_motion
  #         - binary_sensor.0x00158d0001aea602_motion
  #         - binary_sensor.0x00158d0003f27ce2_motion
  #         - binary_sensor.0x00158d0001e05856_motion
  #         - binary_sensor.0x00158d0001e53cda_motion
  #         - binary_sensor.0x00158d0001e54280_motion
  #         - binary_sensor.0x00158d000224f89f_motion
  #         - binary_sensor.0x00158d000236bb94_motion
  #         - binary_sensor.0x00158d000236bc6d_motion
  #         #- binary_sensor.0x158d00024e58e7_motion
  #         - binary_sensor.0x00158d0002b4729d_motion
  #         - binary_sensor.0x00158d0002b482e9_motion
  #         - binary_sensor.0x00158d0002b48381_motion
  #         - binary_sensor.0x00158d0003140824_motion
  #         - binary_sensor.0x00158d0001d5995e_motion
  #         - binary_sensor.g3_flex_entrance_motion
  #         - binary_sensor.g3_flex_hall_motion
  #       to: 'on'
  #     - trigger: state
  #       entity_id:
  #         - binary_sensor.0x00158d00027129ae_contact
  #         - binary_sensor.0x00158d0001ef2ffc_contact
  #         - binary_sensor.0x00158d0002a14c5e_contact
  #         - binary_sensor.0x00158d0002529b9c_contact
  #         - binary_sensor.0x00158d00025315e9_contact
  #         - binary_sensor.0x00158d0001e5d6be_contact
  #         - binary_sensor.0x00158d0002531749_contact
  #         - binary_sensor.0x00158d00025371f6_contact
  #         - binary_sensor.0x00158d000200ad58_contact
  #         - binary_sensor.0x00158d00022ccffe_contact
  #         - binary_sensor.0x00158d00025370d1_contact
  #       to:
  #   sensor:
  #     - name: Security Devices Last Triggered
  #       unique_id: security_devices_last_triggered
  #       state: "{{ trigger.to_state.attributes.friendly_name }}"


  - trigger:
      - trigger: state
        entity_id:
          - binary_sensor.0x00158d00027129ae_contact
          - binary_sensor.0x00158d0001ef2ffc_contact
          - binary_sensor.0x00158d0002a14c5e_contact
          - binary_sensor.0x00158d0002529b9c_contact
          - binary_sensor.0x00158d00025315e9_contact
          - binary_sensor.0x00158d0001e5d6be_contact
          - binary_sensor.582d344031f7_contact
          - binary_sensor.0x00158d0002531749_contact
        to:
    sensor:
      - name: Door Last Change
        unique_id: door_last_change
        state: "{{ trigger.to_state.attributes.friendly_name }}"

  - trigger:
      - trigger: state
        entity_id:
          - binary_sensor.0x00158d00025371f6_contact
          - binary_sensor.0x00158d000200ad58_contact
          - binary_sensor.0x00158d00022ccffe_contact
          - binary_sensor.0x00158d00025370d1_contact
        to:
    sensor:
      - name: Window Last Change
        unique_id: windows_last_change
        state: "{{ trigger.to_state.attributes.friendly_name }}"