substitutions:
  board_name: d1mini_co2_v
 
esphome:
  name: ${board_name}
  platform: ESP8266
  board: d1_mini
  comment: D1 Mini CO2 TPH Node V

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_pass
  domain: .localdomain
  reboot_timeout: 30min
  output_power: 17.5dB
  fast_connect: true
  power_save_mode: none
  manual_ip:
    static_ip: 192.168.1.105
    gateway: 192.168.1.1
    subnet: 255.255.255.0

logger:

api:
  reboot_timeout: 0s

ota:

web_server:
  port: 80
  
binary_sensor:
  - platform: status
    name: ${board_name}_Status
    
uart:
  rx_pin: D1
  tx_pin: D2
  baud_rate: 9600

dallas:
  - pin: GPIO13
    update_interval: 15s
    id: dallas_node

i2c:
  sda: GPIO12
  scl: GPIO14
  scan: True

text_sensor:
  - platform: template
    name: ${board_name}_Uptime
    lambda: |-
      uint32_t dur = id(uptime_sensor).state;
      int dys = 0;
      int hrs = 0;
      int mnts = 0;
      if (dur > 86399) {
        dys = trunc(dur / 86400);
        dur = dur - (dys * 86400);
      }
      if (dur > 3599) {
        hrs = trunc(dur / 3600);
        dur = dur - (hrs * 3600);
      }
      if (dur > 59) {
        mnts = trunc(dur / 60);
        dur = dur - (mnts * 60);
      }
      char buffer[17];
      sprintf(buffer, "%ud %02uh %02um %02us", dys, hrs, mnts, dur);
      return {buffer};
    icon: mdi:clock-start
    update_interval: 15s

sensor:
  - platform: uptime
    name: ${board_name}_Uptime_s
    id: uptime_sensor
    update_interval: 15s

  - platform: dallas
    address: 0x0101143E424CAA28
    name: ${board_name}_Heating_Pipe

  - platform: mhz19
    co2:
      name: "Z19 CO2 V"
    temperature:
      name: "Z19 Temp V"
    update_interval: 60s
  
  - platform: wifi_signal
    name: ${board_name}_WiFi_RSSI
    update_interval: 60s

  - platform: bme680
    temperature:
      name: ${board_name}_Temperature
      oversampling: 4x
      id: bme680_temperature
    pressure:
      name: ${board_name}_Pressure
      oversampling: 4x
      id: bme680_pressure
    humidity:
      name: ${board_name}_Humidity
      oversampling: 4x
      id: bme680_humidity
    gas_resistance:
      name: ${board_name}_Gas_Resistance
      id: bme680_gas_resistance
    address: 0x76
    update_interval: 15s


  - platform: bh1750
    name: ${board_name}_Illuminance
    address: 0x23
    measurement_time: 69
    update_interval: 15s
    accuracy_decimals: 0
    
  - platform: wifi_signal
    name: ${board_name}_WiFi_RSSI
    update_interval: 60s
    
switch:
  - platform: restart
    name: ${board_name}_Restart

time:
  - platform: homeassistant
    id: homeassistant_time