substitutions:
  board_name: d1mini_light_l
  node_name: d1mini-light-l
 
esphome:
  name: ${node_name}
  comment: "D1 Mini Work Light L"
  friendly_name: "D1 Mini Work Light L"
  area: "Kitchen"

safe_mode:
  disabled: False
  num_attempts: 5
  reboot_timeout: 15min

esp8266:
  board: d1_mini

wifi:
  ssid: !secret wifi_ssid_iot
  password: !secret wifi_pass
  domain: !secret my_domain
  reboot_timeout: 15min
  min_auth_mode: WPA2
  #output_power: 17.5dB
  #fast_connect: true
  #power_save_mode: none
  # manual_ip:
  #   static_ip: 192.168.1.51
  #   gateway: 192.168.1.1
  #   subnet: 255.255.255.0
  #   dns1: 192.168.1.1
  #   dns2: 8.8.8.8
    
logger:
  baud_rate: 0

api:
  reboot_timeout: 0s

ota:
  - platform: esphome
  
web_server:
  port: 80


binary_sensor:
  - platform: status
    name: "Status"

  - platform: gpio
    name: "Button"
    pin: 
      number: GPIO12
      #mode: INPUT_PULLUP
      #inverted: true
    use_interrupt: true
    filters:
      - delayed_on: 30ms
      - delayed_off: 30ms         
    on_press:
      then:
        - light.toggle: light_1

text_sensor:
  - platform: template
    name: "Uptime"
    lambda: |-
        int seconds = round(id(uptime_sensor).raw_state);
        int days = seconds / (24 * 3600);
        seconds = seconds % (24 * 3600);
        int hours = seconds / 3600;
        seconds = seconds % 3600;
        int minutes = seconds /  60;
        seconds = seconds % 60;
        return (
          (days ? to_string(days) + "d " : "00d ") +
          (hours ? to_string(hours) + "h " : "00h ") +
          (minutes ? to_string(minutes) + "m " : "00m ") +
          (to_string(seconds) + "s")
        );
    icon: mdi:clock-start
    update_interval: 15s

  - platform: wifi_info
    ip_address:
      name: "IP"
    ssid:
      name: "SSID"
    bssid:
      name: "BSSID"
    mac_address:
      name: "MAC"
    # scan_results:
    #   name: "Latest Scan Results"

  - platform: version
    name: "ESPHome Version"
    hide_timestamp: true
    
sensor:
  - platform: uptime
    name: "Uptime s"
    id: uptime_sensor
    update_interval: 15s
    #disabled_by_default: true
    
  - platform: wifi_signal
    name: "WiFi RSSI"
    update_interval: 60s    

button:
  - platform: restart
    name: "Restart"

# switch:
#   - platform: gpio
#     "Relay"
#     pin: GPIO05 #D1
#     id: relay
#     icon: mdi:spotlight

output:
  - platform: gpio
    id: light_output
    pin: GPIO05

light:
  - platform: binary
    name: "LED"
    output: light_output
    icon: mdi:spotlight
    id: light_1

time:
  - platform: sntp
    id: sntp_time
    timezone: UTC-3