substitutions:
  board_name: digma_ir_k
  node_name: digma-ir-k

esphome:
  name: ${node_name}
  comment: Digma IR Controller K

esp8266:
  board: esp01_1m

wifi:
  ssid: !secret wifi_ssid_iot
  password: !secret wifi_pass
  #domain: .local
  reboot_timeout: 15min
  #output_power: 17.5dB
  #fast_connect: true
  #power_save_mode: none
  # manual_ip:
  #   static_ip: 192.168.1.68
  #   gateway: 192.168.1.1
  #   subnet: 255.255.255.0
  #   dns1: 192.168.1.1
  #   dns2: 8.8.8.8


logger:
  baud_rate: 0

api:
  reboot_timeout: 0s
  services:
    - service: send_raw_command
      variables:
        command: int[]
      then:
        - remote_transmitter.transmit_raw:
            code: !lambda 'return command;'

ota:

status_led:
  pin: 
    number: GPIO4
    inverted: true

remote_receiver:
  pin: 
    number: GPIO5
    inverted: true
  dump: all

remote_transmitter:
  pin: 
    number: GPIO14
    inverted: false
  carrier_duty_percent: 50%

binary_sensor:
  - platform: status
    name: ${board_name}_Status

  - platform: gpio
    pin:
      number: GPIO13
      inverted: true
    internal: true
    name: ${board_name}_Button
    id: id_button


button:
  - platform: restart
    name: ${board_name}_Restart

  - platform: template
    name: ${board_name}_TV_PWR
    icon: mdi:power
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E040BF

  - platform: template
    name: ${board_name}_TV_Prog_Down
    icon: mdi:arrow-collapse-down
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E008F7
            
  - platform: template
    name: ${board_name}_TV_Prog_Up
    icon: mdi:arrow-collapse-up
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E048B7

  - platform: template
    name: ${board_name}_TV_Up
    icon: mdi:arrow-up
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E006F9
            
  - platform: template
    name: ${board_name}_TV_Down
    icon: mdi:arrow-down
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E08679

  - platform: template
    name: ${board_name}_TV_Left
    icon: mdi:arrow-left
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0A659

  - platform: template
    name: ${board_name}_TV_Right
    icon: mdi:arrow-right
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E046B9
            
  - platform: template
    name: ${board_name}_TV_Vol_Up
    icon: mdi:volume-plus
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0E01F

  - platform: template
    name: ${board_name}_TV_Vol_Up_3
    icon: mdi:volume-plus
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0E01F
          repeat:
            times: 2
            wait_time: 500ms

  - platform: template
    name: ${board_name}_TV_Vol_Down
    icon: mdi:volume-minus
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0D02F

  - platform: template
    name: ${board_name}_TV_Vol_Down_3
    icon: mdi:volume-minus
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0D02F
          repeat:
            times: 2
            wait_time: 500ms

  - platform: template
    name: ${board_name}_TV_OK
    icon: mdi:keyboard-return
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E016E9

  - platform: template
    name: ${board_name}_TV_Input
    icon: mdi:video-input-component
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0807F
          
  - platform: template
    name: ${board_name}_TV_Back
    icon: mdi:keyboard-backspace
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E01AE5
          
  - platform: template
    name: ${board_name}_TV_Menu
    icon: mdi:menu
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E058A7
            
  - platform: template
    name: ${board_name}_TV_Mute
    icon: mdi:volume-mute
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0F00F

  - platform: template
    name: ${board_name}_TV_Exit
    icon: mdi:exit-run
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0B44B

text_sensor:
  - platform: template
    name: ${board_name}_Uptime
    lambda: |-
        int seconds = round(id(uptime_sensor).raw_state);
        int days = seconds / (24 * 3600);
        seconds = seconds % (24 * 3600);
        int hours = seconds / 3600;
        seconds = seconds % 3600;
        int minutes = seconds /  60;
        seconds = seconds % 60;
        return (
          (days ? to_string(days) + "d " : "00d ") +
          (hours ? to_string(hours) + "h " : "00h ") +
          (minutes ? to_string(minutes) + "m " : "00m ") +
          (to_string(seconds) + "s")
        );
    icon: mdi:clock-start
    update_interval: 15s

  - platform: wifi_info
    ip_address:
      name: ${board_name}_IP
    ssid:
      name: ${board_name}_SSID
    bssid:
      name: ${board_name}_BSSID
    mac_address:
      name: ${board_name}_Mac
    scan_results:
      name: ${board_name}_Latest_Scan_Results

  - platform: version
    name: ${board_name}_ESPHome_Version
    hide_timestamp: true
    
sensor:
  - platform: uptime
    name: ${board_name}_Uptime_s
    id: uptime_sensor
    update_interval: 15s

  - platform: wifi_signal
    name: ${board_name}_WiFi_RSSI
    update_interval: 60s
    
time:
  - platform: sntp
    id: sntp_time
    timezone: Europe/Moscow