substitutions:
  board_name: digma_ir_v

esphome:
  name: ${board_name}
  platform: ESP8266
  board: esp01_1m

wifi:
  ssid: !secret wifi_ssid_s
  password: !secret wifi_pass
  domain: .local
  reboot_timeout: 15min
  #output_power: 17.5dB
  fast_connect: true
  #power_save_mode: none
  manual_ip:
    static_ip: 192.168.1.67
    gateway: 192.168.1.1
    subnet: 255.255.255.0
    dns1: 192.168.1.1
    dns2: 8.8.8.8

logger:

api:
  reboot_timeout: 0s

ota:

status_led:
  pin: 
    number: GPIO4
    inverted: true

remote_receiver:
  pin: 
    number: GPIO5
    inverted: true
  dump: all

remote_transmitter:
  pin: 
    number: GPIO14
    inverted: false
  carrier_duty_percent: 50%

binary_sensor:
  - platform: status
    name: ${board_name}_Status

  - platform: gpio
    pin:
      number: GPIO13
      inverted: true
    internal: true
    name: ${board_name}_Button
    id: id_button

  - platform: remote_receiver
    name: ${board_name}_Breather_PWR
    nec:
      address: '0xFF00'
      command: '0xFB04'
    on_press:
      then:
        - if:
            condition:
              binary_sensor.is_off: id_self_code
            then:
              - binary_sensor.template.publish:
                  id: id_breather_remote_used
                  state: ON
              - delay: 500ms
              - binary_sensor.template.publish:
                  id: id_breather_remote_used
                  state: OFF


  - platform: template
    name: ${board_name}_Breather_Self_Code
    id: id_self_code

      
  - platform: template
    name: ${board_name}_Breather_Remote_Used
    id: id_breather_remote_used

text_sensor:
  - platform: template
    name: ${board_name}_Uptime
    lambda: |-
      uint32_t dur = id(uptime_sensor).state;
      int dys = 0;
      int hrs = 0;
      int mnts = 0;
      if (dur > 86399) {
        dys = trunc(dur / 86400);
        dur = dur - (dys * 86400);
      }
      if (dur > 3599) {
        hrs = trunc(dur / 3600);
        dur = dur - (hrs * 3600);
      }
      if (dur > 59) {
        mnts = trunc(dur / 60);
        dur = dur - (mnts * 60);
      }
      char buffer[17];
      sprintf(buffer, "%ud %02uh %02um %02us", dys, hrs, mnts, dur);
      return {buffer};
    icon: mdi:clock-start
    update_interval: 15s

  - platform: wifi_info
    ip_address:
      name: ${board_name}_IP
    ssid:
      name: ${board_name}_SSID
    bssid:
      name: ${board_name}_BSSID
    mac_address:
      name: ${board_name}_Mac
    scan_results:
      name: ${board_name}_Latest_Scan_Results

  - platform: version
    name: ${board_name}_ESPHome_Version
    hide_timestamp: true

sensor:
  - platform: uptime
    name: ${board_name}_Uptime_s
    id: uptime_sensor
    update_interval: 15s

  - platform: wifi_signal
    name: ${board_name}_WiFi_RSSI
    update_interval: 60s
    
button:
  - platform: restart
    name: ${board_name}_Restart

  - platform: template
    name: ${board_name}_Breather_PWR
    icon: mdi:power
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xFF00'
          command: '0xFB04'
      - binary_sensor.template.publish:
          id: id_self_code
          state: ON
      - delay: 500ms
      - binary_sensor.template.publish:
          id: id_self_code
          state: OFF
          
  - platform: template
    name: ${board_name}_Breather_UP
    icon: mdi:arrow-up-bold-box
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xFF00'
          command: '0xF30C'
  
  - platform: template
    name: ${board_name}_Breather_DOWN
    icon: mdi:arrow-down-bold-box
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xFF00'
          command: '0xFF00'

  - platform: template
    name: ${board_name}_Arte_PWR
    icon: mdi:power
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xFE01'
          command: '0xF807'
  
  - platform: template
    name: ${board_name}_Arte_Play
    icon: mdi:play-pause
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xFE01'
          command: '0xFB04'
  
  - platform: template
    name: ${board_name}_Arte_Base
    icon: mdi:home-circle
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xFE01'
          command: '0xFD02'

  - platform: template
    name: ${board_name}_TV_PWR
    icon: mdi:power
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000A90
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Prog_Down
    icon: mdi:arrow-collapse-down
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000890
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Prog_Up
    icon: mdi:arrow-collapse-up
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000090
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Up
    icon: mdi:arrow-up
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x000002F0
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Down
    icon: mdi:arrow-down
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000AF0
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Left
    icon: mdi:arrow-left
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x000002D0
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Right
    icon: mdi:arrow-right
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000CD0
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Vol_Up
    icon: mdi:volume-plus
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000490
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Vol_Down
    icon: mdi:volume-minus
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000C90
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_OK
    icon: mdi:keyboard-return
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000A70
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Input
    icon: mdi:video-input-component
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000A50
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Back
    icon: mdi:keyboard-backspace
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x000062E9
          nbits: 15
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Menu
    icon: mdi:menu
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000070
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms
  
  - platform: template
    name: ${board_name}_TV_Mute
    icon: mdi:volume-mute
    on_press:
      - remote_transmitter.transmit_sony:
          data: 0x00000290
          nbits: 12
          repeat:
            times: 3
            wait_time: 46ms

time:
  - platform: sntp
    id: sntp_time
    timezone: Europe/Moscow