substitutions:
  board_name: digma_ir_k
  node_name: digma-ir-k

esphome:
  name: ${node_name}
  comment: "Digma IR Controller K"
  friendly_name: "Digma IR K"
  area: "Kitchen"

safe_mode:
  disabled: False
  num_attempts: 5
  reboot_timeout: 15min

esp8266:
  board: esp01_1m

wifi:
  ssid: !secret wifi_ssid_iot
  password: !secret wifi_pass
  domain: !secret my_domain
  reboot_timeout: 15min
  min_auth_mode: WPA2
  #output_power: 17.5dB
  #fast_connect: true
  #power_save_mode: none
  # manual_ip:
  #   static_ip: 192.168.1.68
  #   gateway: 192.168.1.1
  #   subnet: 255.255.255.0
  #   dns1: 192.168.1.1
  #   dns2: 8.8.8.8


logger:
  baud_rate: 0

api:
  reboot_timeout: 0s
  # services:
  #   - service: send_raw_command
  #     variables:
  #       command: int[]
  #     then:
  #       - remote_transmitter.transmit_raw:
  #           code: !lambda 'return command;'

ota:
  - platform: esphome

status_led:
  pin: 
    number: GPIO4
    inverted: true

remote_receiver:
  pin: 
    number: GPIO5
    inverted: true
  dump: all

remote_transmitter:
  pin: 
    number: GPIO14
    inverted: false
  carrier_duty_percent: 50%

binary_sensor:
  - platform: status
    name: "Status"

  - platform: gpio
    pin:
      number: GPIO13
      inverted: true
    internal: true
    use_interrupt: true
    name: "Button"
    id: id_button


button:
  - platform: restart
    name: "Restart"

  - platform: template
    name: "TV PWR"
    icon: mdi:power
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E040BF

  - platform: template
    name: "TV Prog Down"
    icon: mdi:arrow-collapse-down
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E008F7
            
  - platform: template
    name: "TV Prog Up"
    icon: mdi:arrow-collapse-up
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E048B7

  - platform: template
    name: "TV Up"
    icon: mdi:arrow-up
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E006F9
            
  - platform: template
    name: "TV Down"
    icon: mdi:arrow-down
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E08679

  - platform: template
    name: "TV Left"
    icon: mdi:arrow-left
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0A659

  - platform: template
    name: "TV Right"
    icon: mdi:arrow-right
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E046B9
            
  - platform: template
    name: "TV Vol Up"
    icon: mdi:volume-plus
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0E01F

  - platform: template
    name: "TV Vol Up 3"
    icon: mdi:volume-plus
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0E01F
          repeat:
            times: 2
            wait_time: 500ms

  - platform: template
    name: "TV Vol Down"
    icon: mdi:volume-minus
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0D02F

  - platform: template
    name: "TV Vol Down 3"
    icon: mdi:volume-minus
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0D02F
          repeat:
            times: 2
            wait_time: 500ms

  - platform: template
    name: "TV Ok"
    icon: mdi:keyboard-return
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E016E9

  - platform: template
    name: "TV Input"
    icon: mdi:video-input-component
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0807F
          
  - platform: template
    name: "TV Back"
    icon: mdi:keyboard-backspace
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E01AE5
          
  - platform: template
    name: "TV Menu"
    icon: mdi:menu
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E058A7
            
  - platform: template
    name: "TV Mute"
    icon: mdi:volume-mute
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0F00F

  - platform: template
    name: "TV Exit"
    icon: mdi:exit-run
    on_press:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E0B44B

text_sensor:
  - platform: template
    name: "Uptime"
    lambda: |-
        int seconds = round(id(uptime_sensor).raw_state);
        int days = seconds / (24 * 3600);
        seconds = seconds % (24 * 3600);
        int hours = seconds / 3600;
        seconds = seconds % 3600;
        int minutes = seconds /  60;
        seconds = seconds % 60;
        return (
          (days ? to_string(days) + "d " : "00d ") +
          (hours ? to_string(hours) + "h " : "00h ") +
          (minutes ? to_string(minutes) + "m " : "00m ") +
          (to_string(seconds) + "s")
        );
    icon: mdi:clock-start
    update_interval: 15s

  - platform: wifi_info
    ip_address:
      name: "IP"
    ssid:
      name: "SSID"
    bssid:
      name: "BSSID"
    mac_address:
      name: "MAC"
    # scan_results:
    #   name: "Latest Scan Results"

  - platform: version
    name: "ESPHome Version"
    hide_timestamp: true
    
sensor:
  - platform: uptime
    name: "Uptime s"
    id: uptime_sensor
    update_interval: 15s
    #disabled_by_default: true
    
  - platform: wifi_signal
    name: "WiFi RSSI"
    update_interval: 60s
    
time:
  - platform: sntp
    id: sntp_time
    timezone: Europe/Moscow