substitutions:
  board_name: digma_strip_hb
  node_name: digma-strip-hb

esphome:
  name: ${node_name}
  comment: Digma Strip 40 HB
  on_boot:
    priority: -10
    then:
      - switch.turn_on: relay1
      - switch.turn_on: relay2
      - switch.turn_on: relay3
      - switch.turn_on: relay4
      - switch.turn_on: relay5

esp8266:
  board: esp01_1m

wifi:
  ssid: !secret wifi_ssid_hb
  password: !secret wifi_pass
  #domain: .local
  reboot_timeout: 30min
  #output_power: 17.5dB
  fast_connect: true
  #power_save_mode: none
  # manual_ip:
  #   static_ip: 192.168.1.123
  #   gateway: 192.168.1.1
  #   subnet: 255.255.255.0
  #   dns1: 192.168.1.1
  #   dns2: 8.8.8.8

logger:

api:
  reboot_timeout: 0s

ota:

status_led:
  pin:
    number: GPIO1
    inverted: true

binary_sensor:
  - platform: status
    name: ${board_name}_Status

  - platform: gpio
    pin:
      number: GPIO03
      inverted: true
    internal: true
    name: ${board_name}_Button
    id: id_button

button:
  - platform: restart
    name: ${board_name}_Restart

switch:
  - platform: gpio
    name: ${board_name}_Relay1
    pin: GPIO05
    id: relay1

  - platform: gpio
    name: ${board_name}_Relay2
    pin: GPIO04
    id: relay2

  - platform: gpio
    name: ${board_name}_Relay3
    pin: GPIO12
    id: relay3

  - platform: gpio
    name: ${board_name}_Relay4
    pin: GPIO13
    id: relay4

  - platform: gpio
    name: ${board_name}_Relay5_USB
    pin:
      number: GPIO14
      inverted: true
    id: relay5

text_sensor:
  - platform: template
    name: ${board_name}_Uptime
    lambda: |-
        int seconds = round(id(uptime_sensor).raw_state);
        int days = seconds / (24 * 3600);
        seconds = seconds % (24 * 3600);
        int hours = seconds / 3600;
        seconds = seconds % 3600;
        int minutes = seconds /  60;
        seconds = seconds % 60;
        return (
          (days ? to_string(days) + "d " : "00d ") +
          (hours ? to_string(hours) + "h " : "00h ") +
          (minutes ? to_string(minutes) + "m " : "00m ") +
          (to_string(seconds) + "s")
        );
    icon: mdi:clock-start
    update_interval: 15s

  - platform: wifi_info
    ip_address:
      name: ${board_name}_IP
    ssid:
      name: ${board_name}_SSID
    bssid:
      name: ${board_name}_BSSID
    mac_address:
      name: ${board_name}_Mac
    scan_results:
      name: ${board_name}_Latest_Scan_Results

  - platform: version
    name: ${board_name}_ESPHome_Version
    hide_timestamp: true

sensor:
  - platform: uptime
    name: ${board_name}_Uptime_s
    id: uptime_sensor
    update_interval: 15s

  - platform: wifi_signal
    name: ${board_name}_WiFi_RSSI
    update_interval: 60s

time:
  - platform: sntp
    id: sntp_time
    timezone: Europe/Moscow