substitutions:
  board_name: esp32_pzem_hb

esphome:
  name: ${board_name}
  platform: ESP32
  board: esp-wrover-kit
  comment: ESP32 PZEM

wifi:
  ssid: !secret wifi_ssid_hb
  password: !secret wifi_pass
  domain: .localdomain
  reboot_timeout: 15min
  output_power: 10dB
  fast_connect: true
  power_save_mode: none
  manual_ip:
    static_ip: 192.168.1.143
    gateway: 192.168.1.1
    subnet: 255.255.255.0
    dns1: 192.168.1.1
    dns2: 8.8.8.8


logger:
  baud_rate: 0
  
api:
  reboot_timeout: 10min

ota:

web_server:
  port: 80

# i2c:
#   sda: GPIO21
#   scl: GPIO22
#   scan: True

uart:
  rx_pin: RX
  tx_pin: TX
  baud_rate: 9600
  #stop_bits: 2
  id: pzem_uart

modbus:
  id: pzem_modbus
  uart_id: pzem_uart
  

binary_sensor:
  - platform: status
    name: ${board_name}_Status
    id: id_status


text_sensor:
  - platform: template
    name: ${board_name}_Uptime
    lambda: |-
      uint32_t dur = id(uptime_sensor).state;
      int dys = 0;
      int hrs = 0;
      int mnts = 0;
      if (dur > 86399) {
        dys = trunc(dur / 86400);
        dur = dur - (dys * 86400);
      }
      if (dur > 3599) {
        hrs = trunc(dur / 3600);
        dur = dur - (hrs * 3600);
      }
      if (dur > 59) {
        mnts = trunc(dur / 60);
        dur = dur - (mnts * 60);
      }
      char buffer[17];
      sprintf(buffer, "%ud %02uh %02um %02us", dys, hrs, mnts, dur);
      return {buffer};
    icon: mdi:clock-start
    update_interval: 15s

  - platform: wifi_info
    ip_address:
      name: ${board_name}_IP
    ssid:
      name: ${board_name}_SSID
    bssid:
      name: ${board_name}_BSSID
    mac_address:
      name: ${board_name}_Mac

sensor:
  - platform: uptime
    name: ${board_name}_Uptime_s
    id: uptime_sensor
    update_interval: 15s

  - platform: wifi_signal
    name: ${board_name}_WiFi_RSSI
    update_interval: 60s

  - platform: pzemac
    current:
      name: ${board_name}_Current
      accuracy_decimals: 1
      device_class: current
    voltage:
      name: ${board_name}_Voltage
      accuracy_decimals: 1
      device_class: voltage
    energy:
      name: ${board_name}_Energy
      accuracy_decimals: 3
      unit_of_measurement: 'kWh'
      device_class: energy
      filters:
        - multiply: 0.001      
    power:
      name: ${board_name}_Power
      accuracy_decimals: 0
      id: id_power
      unit_of_measurement: W
      device_class: power
    frequency:
      name: ${board_name}_Frequency
      accuracy_decimals: 0
    power_factor:
      name: ${board_name}_Power Factor
      accuracy_decimals: 2
      unit_of_measurement: ''
      icon: mdi:cosine-wave
      id: id_power_factor
      device_class: power_factor
    update_interval: 3s
    modbus_id: pzem_modbus

  - platform: template
    name: ${board_name}_Power_kW
    lambda: return (id(id_power).state)*0.001;
    accuracy_decimals: 3
    update_interval: 3s
    unit_of_measurement: 'kW'
    icon: mdi:lightning-bolt-outline
    
  - platform: template
    name: ${board_name}_Power_Night
    id: id_power_night
    icon: mdi:speedometer
    lambda: |- 
      auto id_loc_time = id(id_time).now();
      if ((id(id_power).state >= 0) and id_loc_time.is_valid()) {
        if ( (id(id_time).now().hour >= 23) || (id(id_time).now().hour >= 0 && id(id_time).now().hour < 7) ) {
          return id(id_power).state;
        } else {
          return 0.0;
        }
      } else {
        return 0.0;
      } 
    accuracy_decimals: 1
    update_interval: 3s
    unit_of_measurement: 'W'
    
  - platform: template
    name: ${board_name}_Power_Day
    id: id_power_day
    icon: mdi:speedometer
    lambda: |-
      auto id_loc_time = id(id_time).now();
      if ((id(id_power).state >= 0) and id_loc_time.is_valid()) {
        if ( (id(id_time).now().hour >= 7 && id(id_time).now().hour < 23) ) {
          return id(id_power).state;
        } else {
          return 0.0;
        }
      } else {
        return 0.0;
      }         
    accuracy_decimals: 1
    update_interval: 3s
    unit_of_measurement: 'W'

  - platform: integration
    name: ${board_name}_Energy_Monthly
    id: id_energy_monthly
    sensor: id_power
    time_unit: h
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3
    restore: true    

  - platform: integration
    name: ${board_name}_Energy_Monthly_Day
    id: id_energy_monthly_day
    sensor: id_power_day
    time_unit: h
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3
    restore: true   

  - platform: integration
    name: ${board_name}_Energy_Monthly_Night
    id: id_energy_monthly_night
    sensor: id_power_night
    time_unit: h
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3
    restore: true     

  - platform: total_daily_energy
    name: ${board_name}_Energy_Daily
    icon: mdi:gauge
    id: id_energy_daily
    power_id: id_power
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3            

  - platform: total_daily_energy
    name: ${board_name}_Energy_Daily_Night
    icon: mdi:gauge
    id: id_energy_daily_night
    power_id: id_power_night
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3

  - platform: total_daily_energy
    name: ${board_name}_Energy_Daily_Day
    icon: mdi:gauge
    id: id_energy_daily_day
    power_id: id_power_day
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3

switch:
  - platform: restart
    name: ${board_name}_Restart

  - platform: template
    name: ${board_name}_Energy_Reset_Monthly_Night
    turn_on_action: 
      - sensor.integration.reset: id_energy_monthly_night     

  - platform: template
    name: ${board_name}_Energy_Reset_Monthly_Day
    turn_on_action: 
      - sensor.integration.reset: id_energy_monthly_day

  - platform: template #
    name: ${board_name}_Energy_Reset_Monthly
    turn_on_action: 
      - sensor.integration.reset: id_energy_monthly

  - platform: uart
    name: ${board_name}_Energy_Reset_UART
    data: [0x01, 0x42, 0x80, 0x11]
    uart_id: pzem_uart

  - platform: template
    name: ${board_name}_Energy_Reset_All
    turn_on_action: 
      - sensor.integration.reset: id_energy_monthly
      - delay: 1s
      - sensor.integration.reset: id_energy_monthly_day
      - delay: 1s
      - sensor.integration.reset: id_energy_monthly_night
      - homeassistant.service:
          service: notify.telegram
          data:
            message: "ESP32 Pzem - Energy Data Reset Done!"
    
time:
#  - platform: homeassistant
#    id: homeassistant_time
  - platform: sntp
    id: id_time
    timezone: UTC-3