substitutions:
  board_name: esp32_node_k
  node_name: esp32-node-k
  
esphome:
  name: ${node_name}
  comment: ESP32 CO2\TPH\RO_Filter\Adressable_Led Node K
  # platformio_options:
  #   board_build.partitions: ../../../custom_components/partitions_esp32_4mb.csv
  on_boot:
    priority: 800
    then:
      - switch.turn_on: id_abc_calibration

esp32:
  board: nodemcu-32s

wifi:
  ssid: !secret wifi_ssid_k
  password: !secret wifi_pass
  domain: .local
  reboot_timeout: 15min
  #output_power: 17.5dB
  fast_connect: true
  #power_save_mode: none
  manual_ip:
    static_ip: 192.168.1.107
    gateway: 192.168.1.1
    subnet: 255.255.255.0
    dns1: 192.168.1.1
    dns2: 8.8.8.8

logger:
  baud_rate: 0
  
api:
  reboot_timeout: 0s

ota:

web_server:
  port: 80
  
uart:
  rx_pin: GPIO03
  tx_pin: GPIO01
  baud_rate: 9600

i2c:
  sda: GPIO21
  scl: GPIO22
  scan: True

# esp32_ble_tracker:
#   scan_parameters:
#     interval: 512ms
#     window: 48ms
#     active: true

remote_transmitter:
  pin: GPIO26
  carrier_duty_percent: 50%

remote_receiver:
  pin: GPIO12
  dump: all

light:
  - platform: monochromatic
    name: ${board_name}_Light
    output: pwm1
    effects:
      - strobe:

  - platform: neopixelbus
    variant: WS2812
    pin: GPIO19
    num_leds: 12
    type: GRB
    name: ${board_name}_LED
    method:
      type: esp32_rmt
      channel: 2
    id: light1
    effects:
      - addressable_rainbow:
      - addressable_color_wipe:
      - addressable_scan:
      - addressable_twinkle:
      - addressable_random_twinkle:
      - addressable_fireworks:
      - addressable_flicker:
      - automation:
          name: "Green_Alarm"
          sequence:
            - light.addressable_set:
                id: light1
                color_brightness: 100%
                red: 0%
                green: 100%
                blue: 0%
            - delay: 1s
            - light.addressable_set:
                id: light1
                color_brightness: 10%
                red: 0%
                green: 100%
                blue: 0%
            - delay: 1s
      - automation:
          name: "Red_Alarm"
          sequence:
            - light.addressable_set:
                id: light1
                color_brightness: 100%
                red: 100%
                green: 0%
                blue: 0%
            - delay: 1s
            - light.addressable_set:
                id: light1
                color_brightness: 10%
                red: 100%
                green: 0%
                blue: 0%
            - delay: 1s

output:
  - platform: ledc
    id: pwm1
    pin: GPIO18
    frequency: 1000 Hz

binary_sensor:
  - platform: status
    name: ${board_name}_Status

text_sensor:
  - platform: template
    name: ${board_name}_Uptime
    lambda: |-
        int seconds = round(id(uptime_sensor).raw_state);
        int days = seconds / (24 * 3600);
        seconds = seconds % (24 * 3600);
        int hours = seconds / 3600;
        seconds = seconds % 3600;
        int minutes = seconds /  60;
        seconds = seconds % 60;
        return (
          (days ? to_string(days) + "d " : "00d ") +
          (hours ? to_string(hours) + "h " : "00h ") +
          (minutes ? to_string(minutes) + "m " : "00m ") +
          (to_string(seconds) + "s")
        );
    icon: mdi:clock-start
    update_interval: 15s

  - platform: wifi_info
    ip_address:
      name: ${board_name}_IP
    ssid:
      name: ${board_name}_SSID
    bssid:
      name: ${board_name}_BSSID
    mac_address:
      name: ${board_name}_Mac
    scan_results:
      name: ${board_name}_Latest_Scan_Results

  - platform: version
    name: ${board_name}_ESPHome_Version
    hide_timestamp: true
    
sensor:
  - platform: uptime
    name: ${board_name}_Uptime_s
    id: uptime_sensor
    update_interval: 15s

  # - platform: dht
  #   pin: GPIO4
  #   temperature:
  #     name: ${board_name}_dht11_Temperature
  #   humidity:
  #     name: ${board_name}_dht11_Humidity
  #   update_interval: 15s
  #   model: dht11

  - platform: bme280
    temperature:
      name: ${board_name}_Temperature
      oversampling: 16x
      id: bme280_temperature  
    pressure:
      name: ${board_name}_Pressure
      id: bme280_pressure
    humidity:
      name: ${board_name}_Humidity
      id: bme280_humidity
      filters:
        - offset: 7.5      
    address: 0x76
    update_interval: 30s

  - platform: bh1750
    name: ${board_name}_Illuminance
    address: 0x23
    #measurement_duration: 254
    update_interval: 10s
    accuracy_decimals: 0

  # - platform: mhz19
  #   co2:
  #     name: "Z19 CO2 K"
  #   temperature:
  #     name: "Z19 Temp K"
  #   update_interval: 60s
  #   id: my_mhz19_id
  #   automatic_baseline_calibration: true
  
  - platform: senseair
    co2:
      name: ${board_name}_CO2
    update_interval: 60s
    id: id_my_co2
  
  - platform: wifi_signal
    name: ${board_name}_WiFi_RSSI
    update_interval: 60s

  - platform: pulse_counter
    name: ${board_name}_Mineralized
    id: id_mineralized_pulse
    pin: GPIO33
    update_interval: 15s
    unit_of_measurement: L
# 0.25 because of update_interval 15s 
    filters:
      - lambda: |-
          static float total_mineralized_value = 0.0;
          total_mineralized_value += x * 0.25 / 2145;
          return total_mineralized_value;         

  - platform: pulse_counter
    name: ${board_name}_NonMineralized
    id: id_nonmineralized_pulse
    pin: GPIO25
    update_interval: 15s
    unit_of_measurement: L
# 0.25 because of update_interval 15s 
    filters:
      - lambda: |-
          static float total_nonmineralized_value = 0.0;
          total_nonmineralized_value += x * 0.25 / 2145;
          return total_nonmineralized_value;

  - platform: pulse_counter
    name: ${board_name}_Raw
    id: id_raw_pulse
    pin: GPIO27
    update_interval: 15s
    unit_of_measurement: L
# 0.25 because of update_interval 15s 
    filters:
      - lambda: |-
          static float total_raw_value = 0.0;
          total_raw_value += x * 0.25 / 2145;
          return total_raw_value;

  - platform: pulse_counter
    name: ${board_name}_PostMembrane
    id: id_postmembrane_pulse
    pin: GPIO32
    update_interval: 15s
    unit_of_measurement: L
# 0.25 because of update_interval 15s 
    filters:
      - lambda: |-
          static float total_post_membrane_value = 0.0;
          total_post_membrane_value += x * 0.25 / 2145;
          return total_post_membrane_value;

  - platform: sun
    name: ${board_name}_Sun_Elevation
    type: elevation
  - platform: sun
    name: ${board_name}_Sun_Azimuth
    type: azimuth

# switch:

  # - platform: template
  #   name: ${board_name}_TV_PWR
  #   turn_on_action:
  #     - remote_transmitter.transmit_samsung:
  #         data: 0xE0E040BF

  # - platform: template
  #   name: ${board_name}_TVBox_PWR
  #   turn_on_action:
  #     - remote_transmitter.transmit_nec:
  #         address: 0x807F
  #         command: 0x02FD

switch:
  - platform: template
    name: ${board_name}_ABC
    id: id_abc_calibration
    restore_state: true
    optimistic: true
    on_turn_on:
      - senseair.abc_enable: id_my_co2
    on_turn_off:
      - senseair.abc_disable: id_my_co2

sun:
  latitude: !secret my_lat
  longitude: !secret my_long

button:
  - platform: restart
    name: ${board_name}_Restart

  - platform: template
    name: ${board_name}_CO2_Calibrate
    on_press:
      - senseair.background_calibration: id_my_co2
    
time:
  - platform: sntp
    id: sntp_time
    timezone: Europe/Moscow

syslog:
    ip_address: "192.168.1.26"
    port: 514