substitutions:
  board_name: esp32_node_k
  
esphome:
  name: ${board_name}
  platform: ESP32
  board: lolin32
  comment: ESP32 CO2\TPH\RO_Filter\Adressable_Led Node K
  platformio_options:
    board_build.partitions: ../../custom_components/partitions.csv

wifi:
  ssid: !secret wifi_ssid_k
  password: !secret wifi_pass
  domain: .localdomain
  reboot_timeout: 15min
  output_power: 17.5dB
  fast_connect: true
  power_save_mode: none
  manual_ip:
    static_ip: 192.168.1.107
    gateway: 192.168.1.1
    subnet: 255.255.255.0
    dns1: 192.168.1.1
    dns2: 8.8.8.8


logger:
  baud_rate: 0
  
api:
  reboot_timeout: 5min

ota:

web_server:
  port: 80
  
uart:
  rx_pin: GPIO03
  tx_pin: GPIO01
  baud_rate: 9600

i2c:
  sda: GPIO21
  scl: GPIO22
  scan: True

remote_transmitter:
  pin: GPIO26
  carrier_duty_percent: 50%

# remote_receiver:
#   pin: GPIO12
#   dump: all

light:
  - platform: monochromatic
    name: ${board_name}_Light
    output: pwm1
    effects:
      - strobe:

  - platform: fastled_clockless
    chipset: WS2812B
    pin: GPIO19
    num_leds: 12
    rgb_order: GRB
    name: ${board_name}_LED
    id: light1
    effects:
      - addressable_rainbow:
      - addressable_color_wipe:
      - addressable_scan:
      - addressable_twinkle:
      - addressable_random_twinkle:
      - addressable_fireworks:
      - addressable_flicker:
      - automation:
          name: "Red_Alarm"
          sequence:
            - light.turn_on:
                id: light1
                brightness: 100%
                transition_length: 2s
                red: 100%
                green: 0%
                blue: 0%
            - delay: 1s
            - light.turn_on:
                id: light1
                brightness: 10%
                transition_length: 1s
                red: 100%
                green: 0%
                blue: 0%
            - delay: 1s
      - automation:
          name: "Green_Alarm"
          sequence:
            - light.turn_on:
                id: light1
                brightness: 100%
                transition_length: 2s
                red: 0%
                green: 100%
                blue: 0%
            - delay: 1s
            - light.turn_on:
                id: light1
                brightness: 10%
                transition_length: 1s
                red: 0%
                green: 100%
                blue: 0%
            - delay: 1s


output:
  - platform: ledc
    id: pwm1
    pin: GPIO18
    frequency: 1000 Hz

binary_sensor:
  - platform: status
    name: ${board_name}_Status
  # - platform: gpio
  #   pin:
  #     number: GPIO33
  #     mode: INPUT_PULLDOWN
  #     inverted: true
  #   name: ${board_name}_Magnet
  #   device_class: opening
  #   id: magnet

  # - platform: gpio
  #   pin:
  #     number: GPIO35
  #     # mode: INPUT_PULLDOWN
  #     # inverted: true
  #   name: ${board_name}_Sound
  #   device_class: sound
  #   filters:
  #     - delayed_off: 3s

  # - platform: as3935
  #   name: ${board_name}_Storm_Alert

text_sensor:
  - platform: template
    name: ${board_name}_Uptime
    lambda: |-
      uint32_t dur = id(uptime_sensor).state;
      int dys = 0;
      int hrs = 0;
      int mnts = 0;
      if (dur > 86399) {
        dys = trunc(dur / 86400);
        dur = dur - (dys * 86400);
      }
      if (dur > 3599) {
        hrs = trunc(dur / 3600);
        dur = dur - (hrs * 3600);
      }
      if (dur > 59) {
        mnts = trunc(dur / 60);
        dur = dur - (mnts * 60);
      }
      char buffer[17];
      sprintf(buffer, "%ud %02uh %02um %02us", dys, hrs, mnts, dur);
      return {buffer};
    icon: mdi:clock-start
    update_interval: 15s

sensor:
  - platform: uptime
    name: ${board_name}_Uptime_s
    id: uptime_sensor
    update_interval: 15s

  - platform: dht
    pin: GPIO4
    temperature:
      name: ${board_name}_dht11_Temperature
    humidity:
      name: ${board_name}_dht11_Humidity
    update_interval: 15s
    model: dht11

  - platform: bme280
    temperature:
      name: ${board_name}_Temperature
      oversampling: 16x
      id: bme280_temperature
    pressure:
      name: ${board_name}_Pressure
      id: bme280_pressure
    humidity:
      name: ${board_name}_Humidity
      id: bme280_humidity
    address: 0x76
    update_interval: 30s

  - platform: bh1750
    name: ${board_name}_Illuminance
    address: 0x23
    measurement_duration: 254
    update_interval: 10s
    accuracy_decimals: 0

  - platform: mhz19
    co2:
      name: "Z19 CO2 K"
    temperature:
      name: "Z19 Temp K"
    update_interval: 60s
  
  - platform: wifi_signal
    name: ${board_name}_WiFi_RSSI
    update_interval: 60s

  - platform: pulse_counter
    name: ${board_name}_Mineralized
    id: id_mineralized_pulse
    pin: GPIO33
    update_interval: 15s
    unit_of_measurement: L
# 0.25 because of update_interval 15s 
    filters:
      - lambda: |-
          static float total_mineralized_value = 0.0;
          total_mineralized_value += x * 0.25 / 2145;
          return total_mineralized_value;         

  - platform: pulse_counter
    name: ${board_name}_NonMineralized
    id: id_nonmineralized_pulse
    pin: GPIO25
    update_interval: 15s
    unit_of_measurement: L
# 0.25 because of update_interval 15s 
    filters:
      - lambda: |-
          static float total_nonmineralized_value = 0.0;
          total_nonmineralized_value += x * 0.25 / 2145;
          return total_nonmineralized_value;

  - platform: pulse_counter
    name: ${board_name}_Raw
    id: id_raw_pulse
    pin: GPIO27
    update_interval: 15s
    unit_of_measurement: L
# 0.25 because of update_interval 15s 
    filters:
      - lambda: |-
          static float total_raw_value = 0.0;
          total_raw_value += x * 0.25 / 2145;
          return total_raw_value;

  - platform: pulse_counter
    name: ${board_name}_PostMembrane
    id: id_postmembrane_pulse
    pin: GPIO32
    update_interval: 15s
    unit_of_measurement: L
# 0.25 because of update_interval 15s 
    filters:
      - lambda: |-
          static float total_post_membrane_value = 0.0;
          total_post_membrane_value += x * 0.25 / 2145;
          return total_post_membrane_value;

  - platform: sun
    name: ${board_name}_Sun_Elevation
    type: elevation
  - platform: sun
    name: ${board_name}_Sun_Azimuth
    type: azimuth


switch:
  - platform: restart
    name: ${board_name}_Restart

  - platform: template
    name: ${board_name}_TV_PWR
    turn_on_action:
      - remote_transmitter.transmit_samsung:
          data: 0xE0E040BF

  # - platform: template
  #   name: ${board_name}_TVBox_PWR
  #   turn_on_action:
  #     - remote_transmitter.transmit_nec:
  #         address: 0x807F
  #         command: 0x02FD

sun:
  latitude: !secret my_lat
  longitude: !secret my_long

time:
  - platform: homeassistant
    id: homeassistant_time
  - platform: sntp
    id: sntp_time
    timezone: Europe/Moscow