substitutions:
  board_name: esp32_pzem_hb
  node_name: esp32-pzem-hb

esphome:
  name: ${node_name}
  comment: "ESP32 PZEM HB"
  friendly_name: "ESP32 PZEM HB"
  area: "Hall Big"  
  on_boot:
    - priority: 260
      then:
        - delay: 5s
        - ble.disable:

esp32_ble:
  enable_on_boot: False

safe_mode:
  disabled: False
  num_attempts: 5
  reboot_timeout: 15min

esp32:
  board: esp-wrover-kit
  framework:
    type: esp-idf  

# external_components:
#   - source: github://dentra/esphome-components

wifi:
  ssid: !secret wifi_ssid_iot
  password: !secret wifi_pass
  domain: !secret my_domain
  reboot_timeout: 15min
  #output_power: 10dB
  #fast_connect: true
  #power_save_mode: none
  # manual_ip:
  #   static_ip: 192.168.1.143
  #   gateway: 192.168.1.1
  #   subnet: 255.255.255.0
  #   dns1: 192.168.1.1
  #   dns2: 8.8.8.8


logger:
  baud_rate: 0
  level: NONE
  hardware_uart: UART1

api:
  reboot_timeout: 0s

ota:
  - platform: esphome

web_server:
  port: 80

# i2c:
#   sda: GPIO21
#   scl: GPIO22
#   scan: True

uart:
  rx_pin: RX
  tx_pin: TX
  baud_rate: 9600
  #stop_bits: 2
  id: pzem_uart

modbus:
  id: pzem_modbus
  uart_id: pzem_uart
  

binary_sensor:
  - platform: status
    name: "Status"
    id: id_status

text_sensor:
  - platform: template
    name: "Uptime"
    lambda: |-
        int seconds = round(id(uptime_sensor).raw_state);
        int days = seconds / (24 * 3600);
        seconds = seconds % (24 * 3600);
        int hours = seconds / 3600;
        seconds = seconds % 3600;
        int minutes = seconds /  60;
        seconds = seconds % 60;
        return (
          (days ? to_string(days) + "d " : "00d ") +
          (hours ? to_string(hours) + "h " : "00h ") +
          (minutes ? to_string(minutes) + "m " : "00m ") +
          (to_string(seconds) + "s")
        );
    icon: mdi:clock-start
    update_interval: 15s
  
  - platform: wifi_info
    ip_address:
      name: "IP"
    ssid:
      name: "SSID"
    bssid:
      name: "BSSID"
    mac_address:
      name: "MAC"
    # scan_results:
    #   name: "Latest Scan Results"

  - platform: version
    name: "ESPHome Version"
    hide_timestamp: true

sensor:
  - platform: uptime
    name: "Uptime s"
    id: uptime_sensor
    update_interval: 15s
    disabled_by_default: true
    
  - platform: wifi_signal
    name: "WiFi RSSI"
    update_interval: 60s

  - platform: pzemac
    current:
      name: "Current"
      accuracy_decimals: 1
      device_class: current
      id: id_current
    voltage:
      name: "Voltage"
      accuracy_decimals: 1
      device_class: voltage
      id: id_voltage
    energy:
      name: "Energy"
      accuracy_decimals: 3
      unit_of_measurement: kWh
      device_class: energy
      state_class: total_increasing
      filters:
        - multiply: 0.001
      id: id_energy
    power:
      name: "Power"
      accuracy_decimals: 0
      id: id_power
      unit_of_measurement: W
      device_class: power
    frequency:
      name: "Frequency"
      accuracy_decimals: 0
      id: if_frequency
    power_factor:
      name: "Power Factor"
      accuracy_decimals: 2
      unit_of_measurement: '%'
      icon: mdi:cosine-wave
      id: id_power_factor
      device_class: power_factor
    update_interval: 10s
    modbus_id: pzem_modbus

  - platform: template
    name: "Power kW"
    lambda: return (id(id_power).state)*0.001;
    id: id_power_kw
    accuracy_decimals: 3
    update_interval: 5s
    unit_of_measurement: 'kW'
    icon: mdi:lightning-bolt-outline

  - platform: template
    name: "Power Night"
    id: id_power_night
    icon: mdi:speedometer
    lambda: |- 
      auto id_loc_time = id(id_time).now();
      if ((id(id_power).state >= 0) and id_loc_time.is_valid()) {
        if ( (id(id_time).now().hour >= 23) || (id(id_time).now().hour >= 0 && id(id_time).now().hour < 7) ) {
          return id(id_power).state;
        } else {
          return 0.0;
        }
      } else {
        return 0.0;
      } 
    accuracy_decimals: 1
    update_interval: 5s
    unit_of_measurement: 'W'
    
  - platform: template
    name: "Power Day"
    id: id_power_day
    icon: mdi:speedometer
    lambda: |-
      auto id_loc_time = id(id_time).now();
      if ((id(id_power).state >= 0) and id_loc_time.is_valid()) {
        if ( (id(id_time).now().hour >= 7 && id(id_time).now().hour < 23) ) {
          return id(id_power).state;
        } else {
          return 0.0;
        }
      } else {
        return 0.0;
      }         
    accuracy_decimals: 1
    update_interval: 5s
    unit_of_measurement: 'W'

  - platform: integration
    name: "Energy Monthly"
    id: id_energy_monthly
    sensor: id_power
    time_unit: h
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3
    restore: true
    state_class: total_increasing

  - platform: integration
    name: "Energy Monthly Day"
    id: id_energy_monthly_day
    sensor: id_power_day
    time_unit: h
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3
    restore: true
    state_class: total_increasing

  - platform: integration
    name: "Energy Monthly Night"
    id: id_energy_monthly_night
    sensor: id_power_night
    time_unit: h
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3
    restore: true
    state_class: total_increasing

  - platform: total_daily_energy
    name: "Energy Daily"
    icon: mdi:gauge
    id: id_energy_daily
    power_id: id_power
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3            

  - platform: total_daily_energy
    name: "Energy Daily Night"
    icon: mdi:gauge
    id: id_energy_daily_night
    power_id: id_power_night
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3

  - platform: total_daily_energy
    name: "Energy Daily Day"
    icon: mdi:gauge
    id: id_energy_daily_day
    power_id: id_power_day
    filters:
      - multiply: 0.001
    unit_of_measurement: 'kWh'
    accuracy_decimals: 3

  # - platform: "energy_monitoring"
  #   power: id_power
  #   voltage: id_voltage
  #   current: id_current
  #   apparent_power:
  #     name: "Apparent Power"
  #   reactive_power:
  #     name: "Reactive Power"
  #   wait_time: 500

button:
  - platform: restart
    name: "Restart"

switch:
  - platform: template
    name: "Energy Reset Monthly Night"
    turn_on_action: 
      - sensor.integration.reset: id_energy_monthly_night     

  - platform: template
    name: "Energy Reset Monthly Day"
    turn_on_action: 
      - sensor.integration.reset: id_energy_monthly_day

  - platform: template
    name: "Energy Reset Monthly"
    turn_on_action: 
      - sensor.integration.reset: id_energy_monthly

  - platform: uart
    name: "Energy Reset UART"
    data: [0x01, 0x42, 0x80, 0x11]
    uart_id: pzem_uart

  - platform: template
    name: "Energy Reset All"
    turn_on_action: 
      - sensor.integration.reset: id_energy_monthly
      - delay: 1s
      - sensor.integration.reset: id_energy_monthly_day
      - delay: 1s
      - sensor.integration.reset: id_energy_monthly_night
      - homeassistant.service:
          service: notify.send_message
          data:
            entity_id: notify.telegram_dima
            message: "ESP32 Pzem - Energy Data Reset Done!"
    
time:
  - platform: sntp
    id: id_time
    timezone: UTC-3