substitutions:
  board_name: esp8266_oven_temp_k
  node_name: esp8266-oven-temp-k

esphome:
  name: ${node_name}
  comment: ESP8266 Oven Temperature K

esp8266:
  board: nodemcuv2
  
wifi:
  ssid: !secret wifi_ssid_k
  password: !secret wifi_pass
  domain: .local
  reboot_timeout: 15min
  #output_power: 17dB
  fast_connect: true
  #power_save_mode: none
  manual_ip:
    static_ip: 192.168.1.29
    gateway: 192.168.1.1
    subnet: 255.255.255.0
    dns1: 192.168.1.1
    dns2: 8.8.8.8

logger:
  baud_rate: 0
  
api:
  reboot_timeout: 0s

ota:

web_server:
  port: 80

spi:
  miso_pin: GPIO12
  clk_pin: GPIO14

binary_sensor:
  - platform: status
    name: ${board_name}_Status
  
  - platform: template
    name: ${board_name}_Oven_State
    lambda: |-
      if (id(oven_temp).state > 50) {
        return true;
      } else {
        return false;
      }
    device_class: heat

  - platform: gpio
    name: ${board_name}_Oven_Door
    pin:
      number: GPIO13
      inverted: true
      mode:
        input: true
        pullup: true
    filters:
      - delayed_on_off: 100ms
      
text_sensor:
  - platform: template
    name: ${board_name}_Uptime
    lambda: |-
        int seconds = round(id(uptime_sensor).raw_state);
        int days = seconds / (24 * 3600);
        seconds = seconds % (24 * 3600);
        int hours = seconds / 3600;
        seconds = seconds % 3600;
        int minutes = seconds /  60;
        seconds = seconds % 60;
        return (
          (days ? to_string(days) + "d " : "00d ") +
          (hours ? to_string(hours) + "h " : "00h ") +
          (minutes ? to_string(minutes) + "m " : "00m ") +
          (to_string(seconds) + "s")
        );
    icon: mdi:clock-start
    update_interval: 15s

  - platform: wifi_info
    ip_address:
      name: ${board_name}_IP
    ssid:
      name: ${board_name}_SSID
    bssid:
      name: ${board_name}_BSSID
    mac_address:
      name: ${board_name}_Mac
    scan_results:
      name: ${board_name}_Latest_Scan_Results

  - platform: version
    name: ${board_name}_ESPHome_Version
    hide_timestamp: true

sensor:
  - platform: uptime
    name: ${board_name}_Uptime_s
    id: uptime_sensor
    update_interval: 15s

  - platform: max6675
    name: ${board_name}
    cs_pin: GPIO15
    update_interval: 15s
    id: oven_temp
    filters:
      - sliding_window_moving_average:
          window_size: 3
          send_every: 1    
          
  - platform: wifi_signal
    name: ${board_name}_WiFi_RSSI

button:
  - platform: restart
    name: ${board_name}_Restart

time:
  - platform: sntp
    id: sntp_time
    timezone: Europe/Moscow